/* Base ------------------ */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, "儷黑 Pro", "微軟正黑體", "新細明體", sans-serif;
  /* background-color: #000; */
}

img {
  vertical-align: bottom;
}

/* Helper ------------------ */
.mask {
  overflow: hidden;
}

.img-resp {
  max-width: 100%;
  height: auto;
}

.row {
  margin-left: -12px;
  margin-right: -12px;
}

.slide {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.nav {
  position: absolute;
  right: 2%;
  top: 50%;
  margin-top: -100px;
  z-index: 1;
}

.slide-ls {
  display: flex;
  flex-wrap: wrap;
  width: 300vw;
  position: relative;
  top: 0;
  left: 0;
}

.slide-item {
  width: 100vw;
  height: 100vh;
  padding: 3em 5em;
}

.slide-item-pdf {
  background-color: #333;
}

.slide-item-pr {
  background-color: #dd1f8e;
}

.slide-item-ps {
  background-color: #00a7e2;
}

.slide-item-ae {
  background-color: #620294;
}

.slide-item-ai {
  background-color: #ee9a10;
}

.slide-item-dw {
  background-color: #84c922;
}

.nav-btn {
  display: block;
  width: 15px;
  height: 15px;
  margin: 15px;
  background-color: rgba(255, 255, 255, .3);
  text-indent: -9999px;
  border: none;
}

.nav-btn:hover {
  background-color: #fff;
}

.pd {
  width: 50%;
}

.pd-tit {
  color: #fff;
  font-size: 1.5em;
  line-height: 1.3;
  margin: 1em 0;
  font-weight: 600;
}

.pd-desc {
  color: #fff;
  margin: 1em 0;
  line-height: 1.7;
  text-align: justify;
}

.pd-ls {
  display: flex;
  flex-wrap: wrap;
}

.pd-item {
  padding: 12px;
  width: 33.33333%;
}

.pd-item>a {
  display: block;
  -webkit-box-reflect: below 0 linear-gradient(0, rgba(0, 0, 0, .2)0, rgba(0, 0, 0, 0)50%);
}

/* Modules 覆蓋 -------------------- */
.hover-overlay {
  position: relative;
}

.hover-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.hover-overlay:hover::after {
  background-color: rgba(0, 0, 0, .5);
}


/* Modules 圖標 -------------------- */
.hover-icon i {
  color: #fff;
  top: 50%;
  left: 50%;
  margin-left: -1rem;
  margin-top: -1rem;
  font-size: 2em;
  position: absolute;
  z-index: 1;
  transform: scale(0);
}

.hover-icon:hover i {
  transform: scale(1);
}

/* Modules 縮放影像 -------------------- */
.hover-scale{
  overflow: hidden;
}

.hover-scale:hover > .img-resp{
  transform: scale(1.2);
}


/* Modules 轉場 -------------------- */

.hover-transition::after,
.hover-transition i,
.hover-scale > .img-resp {
  transition-duration: .5s;
}


/* State ----------------------- */



/* RWD --------------------------- */